* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 7%;
  background-color: white;
  border-bottom: 1px solid lightgray;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  color: #394867;
  font-size: 2rem;
  font-weight: bolder;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar .navbar-nav {
  position: absolute;
  right: 200px;
}

.navbar .navbar-nav a {
  color: gray;
  display: inline-block;
  font-size: 1rem;
  margin: 0 1.2rem;
}

.navbar .navbar-nav a:hover {
  color: #394867;
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.main {
  height: 100vh;
  display: flex;
  position: relative;
  align-items: center;
}

.main img {
  width: 700px;
  height: 500px;
  position: absolute;
  left: 600px;
}

.main h1 {
  color: rgb(70, 69, 69);
  position: absolute;
  right: 850px;
  font-size: 3rem;
}

.main span {
  color: #394867;
  border-bottom: 0.2rem solid #394867;
}

.invest {
  padding: 6rem 1rem 0 1rem;
}

.invest h1 {
  text-align: center;
  color: rgb(70, 69, 69);
  font-weight: lighter;
  font-size: 1.7rem;
}

.invest .card {
  justify-content: center;
  align-items: center;
  margin: 2rem 23rem 0 23rem;
  padding: 2rem;
  display: flex;
  border: 1px solid #394867;
}

.invest .card .card-img {
  flex: 1 1 1rem;
}

.invest .card .card-img img {
  width: 200px;
  height: 120px;
}

.invest .card .content {
  flex: 1 1 1rem;
  padding: 0 1rem;
}

.invest .card .content h3 {
  color: rgb(70, 69, 69);
}

.invest .card .content p {
  color: lightslategrey;
  font-size: 1rem;
}

.kontak {
  padding: 6rem 0% 1.4rem;
  height: 90vh;
}

.kontak h1 {
  color: rgb(70, 69, 69);
  text-align: center;
  font-weight: lighter;
  font-size: 1.7rem;
}

.kontak .box {
  justify-content: center;
  display: flex;
  margin: 0 auto;
  padding: 0 10rem 0 10rem;
}

.kontak .box .tabel {
  padding: 5rem;
  float: left;
  width: 65%;
}

.kontak .box .box-img {
  width: 35%;
  flex: 1 1 1rem;
  float: right;
}

.kontak .box .box-img img {
  width: 400px;
  height: 400px;
}

footer {
  background-color: #394867;
  width: 100%;
  padding: 2rem;
  color: aliceblue;
  text-align: center;
  justify-content: center;
  align-items: center;
}
